#camera{
    border: 2px dashed cornflowerblue;
    width: 350px;
    height: 300px;
}

body{
    color: cornflowerblue;
    background: aquamarine;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
    color:cornflowerblue;
}

.heading{
    width: 85%;
    font-size: 24px;
}

